<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Refresh" content="60"/>
    {% block title %}<title>Мониторинг Восточная Сибирь</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% block content %}
<small>
    <p>Последнее обновление {{time}} <i>🟢 - Провайдер работает, 🔴 - Провайдер не работает, ⚪ - Провайдер не настроен или  его нет, "⚫" - SDWAN</i> </p>
<!--<font size="3" >-->
<table>
    {% for entry in kod %}
    <td valign="top">
        {% for v in entry.1 %}
        ||
            {{v.0}}
            {{v.1}}
            {{v.2}}
            {{v.3}}
            <br>
        {% endfor %}
    </td>
    {% endfor %}
</table>

<!--</font>-->
 <p><i>Регистраторы</i> | 1. Доступность | 2. Состояние дисков | 3. Состояние камер</p>

<table>
    {% for entry in reg %}
    <td valign="top">
        {% for v in entry.1 %}
        ||
        {{v.1}}
            {{v.2}}
        {{v.4}}
{{v.0}}
            <br>
        {% endfor %}
    {% endfor %}

</table>
    </small>

{% endblock %}

<body>
    <p>Последнее обновление {{time}} <i>🔵 - Провайдер работает, 🔴 - Провайдер не работает, ⚪ - Провайдер не настроен или
        его нет, "⚫" - SDWAN</i> </p>
<!--</html>-->