<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Refresh" content="60"/>
    {% block title %}<title>Мониторинг Восточная Сибирь</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <p>Последнее обновление {{time}} <i>🔵 - Провайдер работает, 🔴 - Провайдер не работает, ⚪ - Провайдер не настроен или
        его нет</i> </p>
    <p> </p>
    <p> </p>

{% block content %}

<table>
    {% for entry in kod %}
    <td valign="top">
<!--        {{entry}}-->
<!--        <td>{{entry.1}}</td>-->
<!--        <tr>-->
        {% for v in entry.1 %}
<!--           {{v}}-->
<!--        <big><big>-->
<!--        <td>{{v}}</td>-->
        ||
            {{v.2}}
            {{v.3}}
            {{v.0}}
            {{v.1}}
            <br>
<!--        </tr>-->

<!--&lt;!&ndash;        <td> |</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td> |</td>&ndash;&gt;-->
<!--        </big></big>-->
        {% endfor %}
</td>
    {% endfor %}
</table>
<!--<table>-->
<!--    {% for entry in kod.items %}-->
<!--    <tr>-->
<!--&lt;!&ndash;        <td>{{entry.1}}</td>&ndash;&gt;-->
<!--        {% for v in entry.1 %}-->
<!--        <big><big>-->
<!--        <td>{{v.0}}</td>-->
<!--        <td>{{v.1}}</td>-->
<!--        <td>{{v.2}}</td>-->
<!--        <td>{{v.3}}</td>-->
<!--        <td> |</td>-->
<!--&lt;!&ndash;        <td> |</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td> |</td>&ndash;&gt;-->
<!--        </big></big>-->
<!--        {% endfor %}-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

{% endblock %}
<!--</html>-->

